/* Listings
================================================== */

.wpsight-listings .listing {
	margin-bottom: 20px;
}

.wpsight-listings .entry-header h2.entry-title {
    margin-top: 0;
}

/* Listings Archive Title
================================================== */

.listings-panel {
	border-bottom: 4px double #ededed;
    margin-bottom: 30px;
    padding: 10px 0;
}

.listings-panel-title {
	float: left;
	width: auto;
}

.listings-panel-title h1,
.listings-panel-title h2,
.listings-panel-title h3 {
	margin: 0;
	padding: 0;
}

.listings-panel-actions {
	float: right;
	width: auto;
}

.listings-panel-action {
	display: inline-block;
	margin-left: 5px;
}

/* Listings Search
================================================== */

.wpsight-listings-search {
	background-color: #ededed;
    margin-bottom: 40px;
    padding: 30px 15px 10px 30px;
    position: relative;
}

.wpsight-listings-search.vertical {
	padding-bottom: 75px;
}

@media (max-width: 599px) {
	
	.wpsight-listings-search {
		padding-bottom: 75px;
	}

}

.wpsight-listings-search .listings-search-field {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 20px;
	padding-right: 15px;
	width: 100%;
}

@media (min-width: 600px) {
	
	/* half */

	.wpsight-listings-search .listings-search-field.width-1-2 {
		width: 50%;
	}
	
	/* third */
	
	.wpsight-listings-search .listings-search-field.width-1-3 {
		width: 33%;
	}
	
	.wpsight-listings-search .listings-search-field.width-2-3 {
		width: 66%;
	}
	
	/* fourth */
	
	.wpsight-listings-search .listings-search-field.width-1-4 {
		width: 25%;
	}
	
	.wpsight-listings-search .listings-search-field.width-2-4 {
		width: 50%;
	}
	
	.wpsight-listings-search .listings-search-field.width-3-4 {
		width: 75%;
	}
	
	/* fifth */
	
	.wpsight-listings-search .listings-search-field.width-1-5 {
		width: 20%;
	}
	
	.wpsight-listings-search .listings-search-field.width-2-5 {
		width: 40%;
	}
	
	.wpsight-listings-search .listings-search-field.width-3-5 {
		width: 60%;
	}
	
	.wpsight-listings-search .listings-search-field.width-4-5 {
		width: 80%;
	}
	
	.wpsight-listings-search .listings-search-field.width-2-2,
	.wpsight-listings-search .listings-search-field.width-3-3,
	.wpsight-listings-search .listings-search-field.width-4-4,
	.wpsight-listings-search .listings-search-field.width-5-5,
	.wpsight-listings-search .listings-search-field.width-full {
		width: 100%;
	}	
	
}

.wpsight-listings-search.vertical .listings-search-field {
	width: 100% !important;	
}

.wpsight-listings-search .listings-search-field input,
.wpsight-listings-search .listings-search-field select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	width: 100%;
}

.wpsight-listings-search .listings-search-field input[type="text"],
.wpsight-listings-search .listings-search-field select {
	background-color: rgba(255,255,255,1);
	height: 30px;
	line-height: 30px;
	white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

.wpsight-listings-search .listings-search-field-radio label,
.wpsight-listings-search .listings-search-field-radio input,
.wpsight-listings-search .listings-search-field-checkbox label,
.wpsight-listings-search .listings-search-field-checkbox input,
.wpsight-listings-search .listings-search-field-taxonomy_checkbox label,
.wpsight-listings-search .listings-search-field-taxonomy_checkbox input {
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	width: auto;
}

.wpsight-listings-search .listings-search-field-radio label,
.wpsight-listings-search.vertical .listings-search-field-checkbox label,
.wpsight-listings-search.vertical .listings-search-field-taxonomy_checkbox label {
	display: block;
}

.wpsight-listings-search.vertical .listings-search-field-radio label.radiogroup,
.wpsight-listings-search.vertical .listings-search-field-checkbox label.checkboxgroup,
.wpsight-listings-search.vertical .listings-search-field-taxonomy_checkbox label.checkboxgroup {
	margin-bottom: 10px;
}

.wpsight-listings-search .listings-search-field input[type="radio"] {
	width: auto;
}

.wpsight-listings-search .listings-search-field label {
	font-size: 12px;
}

.wpsight-listings-search .listings-search-field-keyword input[type="text"] {
	height: auto;
	line-height: normal;
	padding: 10px;
}

.wpsight-listings-search .listings-search-field-submit input {
	padding: 10px;
}

.wpsight-listings-search.vertical .listings-search-field-submit {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: 15px;
	margin-bottom: 0;
	width: auto !important;
}

@media (max-width: 599px) {

	.wpsight-listings-search .listings-search-field-submit {
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 15px;
		margin-bottom: 0;
		width: auto !important;
	}

}

.wpsight-listings-search .listings-search-advanced {
	display: none;
}

.wpsight-listings-search .listings-search-reset,
.wpsight-listings-search .listings-search-advanced-toggle {
	bottom: -20px;
	cursor: pointer;
	display: block;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
}

.wpsight-listings-search .listings-search-reset {
	left: 0;
	right: auto;
}

/* Pagination
================================================== */

.wpsight-pagination {
	margin-bottom: 40px;
}

.wpsight-pagination ul,
.wpsight-pagination li {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

.wpsight-pagination li {
	display: inline-block;
	margin-right: 10px !important;
}

/* Listings Archive
================================================== */

.wpsight-listings .wpsight-listing-left,
.wpsight-listing-sc .wpsight-listing-left {
	float: left;
	margin-right: 30px;
	width: auto;
}

@media (max-width: 599px) {
	
	.wpsight-listings .wpsight-listing-left,
	.wpsight-listing-sc .wpsight-listing-left {
		
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		
	}

}

.wpsight-listings .wpsight-listing-right,
.wpsight-listing-sc .wpsight-listing-right {
	overflow: hidden;
}

.wpsight-listings .wpsight-listing-section,
.wpsight-listing-sc .listing-archive .wpsight-listing-section {
	margin-bottom: 10px;
}

.wpsight-listing-section-compare {
	display: none;
}

.wpsight-listings .wpsight-listing-title,
.wpsight-listings-sc .wpsight-listing-title {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.wpsight-listings .wpsight-listing-section-summary,
.wpsight-listing-sc .wpsight-listing-section-summary {
	margin-bottom: 0;
}

.wpsight-listings .wpsight-listing-title h2,
.wpsight-listing-sc .wpsight-listing-title h2 {
	margin: 0;
}

@media (max-width: 599px) {
	
	.wpsight-listings .wpsight-listing-image,
	.wpsight-listing-sc .wpsight-listing-image {
		text-align: center;		
	}

}

.wpsight-listings .wpsight-listing-image .dashicons,
.wpsight-listing-sc .wpsight-listing-image .dashicons {
	background: #ededed;
	font-size: 64px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	width: 150px;
}

.wpsight-listings .wpsight-listing-image .dashicons:before,
.wpsight-listing-sc .wpsight-listing-image .dashicons:before {
	opacity: .25;
}

/* Listing Single
================================================== */

.wpsight-listing-section {
	margin-bottom: 40px;
}

.wpsight-listing-title {
	border-bottom: 4px double #ededed;
    margin-bottom: 30px;
    padding: 0 0 15px;
}

.wpsight-listing-title h1,
.wpsight-listing-title h1.entry-title {
	float: left;
	margin: 0;
	min-width: 75%;
	width: auto;
}

@media (max-width: 599px) {

	.wpsight-listing-title h1,
	.wpsight-listing-title h1.entry-title {
		float: none;
		text-align: center;
	}

}

.wpsight-listing-section-image {
	margin-bottom: 30px;
}

.wpsight-listing-thumbnail,
.wpsight-listing-thumbnail img {
	line-height: 1;
	margin: 0;
}

.wpsight-listing-thumbnail {
	display: inline-block;
}

.wpsight-listing-location-note {
	margin-top: 20px;
}

/* Listing Details
================================================== */

.wpsight-listing-details {
    margin-right: -5%;
}

.wpsight-listing-details .listing-details-detail {
    border-bottom: 1px solid #ededed;
    float: left;
    margin-right: 5%;
    padding: 10px 0;
    width: 45%;
}

.wpsight-listing-details .listing-details-label {
    display: inline-block;
    font-weight: bold;
    min-width: 50%;
}

.wpsight-listing-details .listing-details-value {
    display: inline-block;
    word-break: break-all;
}

/* Listing Summary
================================================== */

.wpsight-listing-summary {
	font-size: 13px;
	margin-bottom: 20px;
	opacity: .75;
}

.wpsight-listing-summary .listing-details-detail {
    display: inline-block;
    margin-right: 5px;
}

.wpsight-listing-summary .listing-details-value {
    font-weight: bold;
}

/* Listing Info
================================================== */

.wpsight-listing-section-info {
    margin-bottom: 20px;
}

.wpsight-listing-info {
    border-bottom: 4px double #ededed;
    padding: 0 0 10px;
}

.wpsight-listing-info .alignright .listing-term {
	margin-left: 5px;
}

.wpsight-listing-info .wpsight-listing-id,
.wpsight-listing-info .wpsight-listing-status {
	display: inline-block;
}

.wpsight-listing-info .wpsight-listing-id {
	margin-right: 10px;
}

/* Listing Price
================================================== */

.wpsight-listing-price {

}

.wpsight-listing-price .listing-price-symbol,
.wpsight-listing-price .listing-price-value {
    font-size: 18px;
}

/* Listing Agent
================================================== */

.wpsight-listing-agent {
	background-color: #ededed;
    padding: 40px 40px 20px;
	position: relative;
}

.wpsight-listing-agent-image {
	float: left;
	margin: 0 20px 20px 0;
	width: auto;
}

.wpsight-listing-agent-info {
	overflow: hidden;
}

.wpsight-listing-agent-name,
.wpsight-listing-agent-description,
.wpsight-listing-agent-archive {
	clear: both;
	margin-bottom: 20px;
}

.wpsight-listing-agent-name {
	font-weight: bold;
}

.wpsight-listing-agent-phone {
	display: block;
	font-weight: normal;
}

.wpsight-listing-agent-links {
	position: absolute;
	top: 40px;
	right: 40px;
}

@media (max-width: 980px) {
	
	.wpsight-listing-agent-links {
		margin-top: -10px;
		margin-bottom: 10px;
		position: relative;
		top: auto;
		right: auto;
	}

}

@media (max-width: 599px) {

	.wpsight-listing-agent-image {
		float: none;
		margin: 0 0 20px 0;
		text-align: center;
		width: 100%;
	}

}

/* Listing Actions
================================================== */

.wpsight-listing-title .wpsight-listing-actions {
	float: right;
	width: auto;
}

.wpsight-listing-actions .wpsight-listing-action {
	display: inline-block;
	margin-left: 5px;
}

@media (max-width: 599px) {
	
	.wpsight-listing-title .wpsight-listing-actions {
		clear: both;
		float: none;
		margin-top: 10px;
		text-align: center;
	}

	.wpsight-listing-actions .wpsight-listing-action {
		margin-right: 5px;
	}

}

/* Listing Teaser (horizontal)
================================================== */

.wpsight-listing-teaser {
	border-bottom: 1px solid #ededed;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.wpsight-listing-teaser-sc .wpsight-listing-teaser {
	border-bottom: 0;
	padding-bottom: 0;
}

.wpsight-listing-teaser .wpsight-listing-left {
	float: left;
	margin-right: 20px;
	width: auto;
}

.wpsight-listing-teaser .wpsight-listing-right {
	overflow: hidden;
}

.wpsight-listing-teaser .wpsight-listing-title {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.wpsight-listing-teaser .wpsight-listing-title h3 {
	clear: none;
	margin: 0;
}

.wpsight-listing-teaser .wpsight-listing-info {
	border-bottom: 0;
	padding: 0;
}

.wpsight-listing-teaser .wpsight-listing-summary {
	margin-bottom: 0;
}

.wpsight-listing-teaser .wpsight-listing-price .listing-price-symbol,
.wpsight-listing-teaser .wpsight-listing-price .listing-price-value {
	font-size: 13px;
}

.wpsight-listing-teaser .wpsight-listing-title .listing-term {
	margin-left: 5px;
}

.wpsight-listing-teaser .wpsight-listing-status {
	white-space: nowrap;
}

.wpsight-listing-teaser .wpsight-listing-image .dashicons {
	background: #ededed;
	font-size: 36px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	width: 75px;
}

.wpsight-listing-teaser .wpsight-listing-image .dashicons:before {
	opacity: .25;
}

@media (max-width: 599px) {

	.wpsight-listing-teaser .wpsight-listing-title h3 {
		margin-bottom: 10px;
	}
	
	.wpsight-listing-teaser .wpsight-listing-title,
	.wpsight-listing-teaser .wpsight-listing-summary {
		margin-bottom: 5px;
	}
	
	.wpsight-listing-teaser .wpsight-listing-summary {
		border-bottom: 4px double #ededed;
		padding-bottom: 5px;
	}
	
	.wpsight-listing-teaser .wpsight-listing-title .alignleft,
	.wpsight-listing-teaser .wpsight-listing-title .alignright,
	.wpsight-listing-teaser .wpsight-listing-info .alignleft,
	.wpsight-listing-teaser .wpsight-listing-info .alignright {
		float: none;
		text-align: left;
	}
	
	.wpsight-listing-teaser .wpsight-listing-title .listing-term {
		margin-left: 0;
		margin-right: 5px;
	}
	
	.wpsight-listing-teaser .listing-details-detail {
		display: block;
	}

	.wpsight-listing-teaser .wpsight-listing-image .dashicons {
		font-size: 24px;
		height: 75px;
		line-height: 75px;
		width: 75px;
	}
	
}

/* Listing Teaser (vertical)
================================================== */

.vertical .wpsight-listing-teaser .wpsight-listing-title h3 {
	margin-bottom: 10px;
}

.vertical .wpsight-listing-image {
	height: auto;
	width: 50px;
}

.vertical .wpsight-listing-teaser .wpsight-listing-title,
.vertical .wpsight-listing-teaser .wpsight-listing-summary {
	margin-bottom: 5px;
}

.vertical .wpsight-listing-teaser .wpsight-listing-summary {
	border-bottom: 4px double #ededed;
	padding-bottom: 5px;
}

.vertical .wpsight-listing-teaser .wpsight-listing-title .alignleft,
.vertical .wpsight-listing-teaser .wpsight-listing-title .alignright,
.vertical .wpsight-listing-teaser .wpsight-listing-info .alignleft,
.vertical .wpsight-listing-teaser .wpsight-listing-info .alignright {
	float: none;
	text-align: left;
}

.vertical .wpsight-listing-teaser .wpsight-listing-title .listing-term {
	margin-left: 0;
	margin-right: 5px;
}

.vertical .wpsight-listing-teaser .listing-details-detail {
	display: block;
}

.vertical .wpsight-listing-teaser .wpsight-listing-image .dashicons {
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	width: 50px;
}

/* Alerts
================================================== */

.wpsight-alert {
	background-color: #ededed;
    margin-bottom: 40px;
    padding: 20px;
}

.wpsight-alert-small {
	font-size: 13px;
	margin-bottom: 20px;
	opacity: .75;
	padding: 15px;
}

.wpsight-error {
}

/* Badges
================================================== */

.badge {
	background-color: #a2a2a2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	padding: 5px 15px;
}

.wpsight-listing-teaser .badge {
	padding: 3px 6px;
}

/* Useful
================================================== */

#map-canvas img {
	max-width: none;
}

.alignleft {
    float: left;
    width: auto;
}

.alignright {
    float: right;
    text-align: right;
    width: auto;
}

/* Clearing
================================================== */

.clearfix:before,
.clearfix:after {
  	content: '\0020';
  	display: block;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0;
}
.clearfix:after {
  	clear: both;
}
.clearfix {
  	zoom: 1;
}

.clear,
.wrap {
	clear: both;
}