body {
	direction: rtl;
	unicode-bidi: embed;
}

/* Listings Archive Title
================================================== */

.listings-panel-title {
	float: right;
}

.listings-panel-title h1,
.listings-panel-title h2,
.listings-panel-title h3 {
	margin: 0;
	padding: 0;
}

.listings-panel-actions {
	float: left;
}

.listings-panel-action {
	margin-left: 0;
	margin-right: 5px;
}



/* Listings Search
================================================== */

.wpsight-listings-search {
	padding-left: 15px;
	padding-right: 30px;
}

.wpsight-listings-search .listings-search-field {
	padding-left: 15px;
	padding-right: 0;
}

.wpsight-listings-search .listings-search-field-radio label,
.wpsight-listings-search .listings-search-field-radio input,
.wpsight-listings-search .listings-search-field-checkbox label,
.wpsight-listings-search .listings-search-field-checkbox input,
.wpsight-listings-search .listings-search-field-taxonomy_checkbox label,
.wpsight-listings-search .listings-search-field-taxonomy_checkbox input {
	margin-left: 5px;
	margin-right: 0;
}

.wpsight-listings-search.vertical .listings-search-field-submit {
	left: 15px;
	right: 30px;
}

.wpsight-listings-search .listings-search-reset,
.wpsight-listings-search .listings-search-advanced-toggle {
	left: 0;
	right: auto;
}

.wpsight-listings-search .listings-search-reset {
	left: auto;
	right: 0;
}

/* Pagination
================================================== */

.wpsight-pagination li {
	margin-left: 10px !important;
	margin-right: 0 !important;
}

/* Listings Archive
================================================== */

.wpsight-listings .wpsight-listing-left,
.wpsight-listing-sc .wpsight-listing-left {
	float: right;
	margin-right: 0;
	margin-left: 30px;
}

/* Listing Single
================================================== */

.wpsight-listing-title h1,
.wpsight-listing-title h1.entry-title {
	float: right;
}

/* Listing Details
================================================== */

.wpsight-listing-details {
	margin-left: -5%;
    margin-right: 0;
}

.wpsight-listing-details .listing-details-detail {
    float: right;
    margin-left: 5%;
    margin-right: 0;
}

/* Listing Summary
================================================== */

.wpsight-listing-summary .listing-details-detail {
	margin-left: 5px;
    margin-right: 0;
}

/* Listing Info
================================================== */

.wpsight-listing-info .alignright .listing-term {
	margin-left: 0;
	margin-right: 5px;
}

.wpsight-listing-info .wpsight-listing-id {
	margin-left: 10px;
	margin-right: 0;
}

/* Listing Agent
================================================== */

.wpsight-listing-agent-image {
	float: right;
	margin: 0 0 20px 20px;
}

.wpsight-listing-agent-links {
	left: 40px;
	right: auto;
}

/* Listing Actions
================================================== */

.wpsight-listing-title .wpsight-listing-actions {
	float: left;
}

.wpsight-listing-actions .wpsight-listing-action {
	margin-left: 0;
	margin-right: 5px;
}

@media (max-width: 599px) {

	.wpsight-listing-actions .wpsight-listing-action {
		margin-left: 5px;
		margin-right: 0;
	}

}

/* Listing Teaser (horizontal)
================================================== */

.wpsight-listing-teaser .wpsight-listing-left {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

.wpsight-listing-teaser .wpsight-listing-title .listing-term {
	margin-left: 0;
	margin-right: 5px;
}

.wpsight-listing-teaser .wpsight-listing-title .alignleft,
.wpsight-listing-teaser .wpsight-listing-info .alignleft {
	float: right;
	text-align: right;	
}

.wpsight-listing-teaser .wpsight-listing-title .alignright,
.wpsight-listing-teaser .wpsight-listing-info .alignright {
	float: left;
	text-align: left;
}

@media (max-width: 599px) {
	
	.wpsight-listing-teaser .wpsight-listing-title .alignleft,
	.wpsight-listing-teaser .wpsight-listing-title .alignright,
	.wpsight-listing-teaser .wpsight-listing-info .alignleft,
	.wpsight-listing-teaser .wpsight-listing-info .alignright {
		text-align: right;
	}
	
	.wpsight-listing-teaser .wpsight-listing-title .listing-term {
		margin-left: 5px;
		margin-right: 0;
	}
	
}

/* Listing Teaser (vertical)
================================================== */

.vertical .wpsight-listing-teaser .wpsight-listing-title .alignleft,
.vertical .wpsight-listing-teaser .wpsight-listing-title .alignright,
.vertical .wpsight-listing-teaser .wpsight-listing-info .alignleft,
.vertical .wpsight-listing-teaser .wpsight-listing-info .alignright {
	float: none !important;
	text-align: right;
}

.vertical .wpsight-listing-teaser .wpsight-listing-title .listing-term {
	margin-left: 5px;
	margin-right: 0;
}

/* Useful
================================================== */

.alignleft {
    float: right !important;
    text-align: right;
}

.alignright {
    float: left !important;
    text-align: left;
}