body {background: #3b4045;}

.about-wrap.full-width-layout {max-width: 100%; padding: 0; margin: 0 auto; position: relative; overflow: hidden;}
.about-wrap.full-width-layout > .wrap-inner {width: 100%; position: relative; z-index: 1;}

.about-wrap {text-align: center; color: #EEE;}
.about-wrap h1 {text-align: center; margin: 1rem 0;}
.about-wrap h1, .about-wrap h2, .about-wrap h3, .about-wrap h4, .about-wrap h5, .about-wrap h6 {color: #FFF !important;}
.about-wrap p {text-align: center; margin: 0;}
.about-wrap h2 {
	margin: 0 0 .6em;
	font-size: 2.7em;
	line-height: 1.3;
	font-weight: 300;
	text-align: center;
}

#wpcontent {padding-left: 0;}
#wpfooter {display: none;}
#wpbody-content {
	padding-bottom: 0;
}

.about-wrap .wp-badge {
	position: fixed;
	top: 0;
	right: 0;
	text-decoration: none;
	background-position: center !important;
	padding-top: 120px;
	background: #12AE8F url(../img/icon.png) no-repeat;
	background-size: contain;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
	transition: all .2s;
}

.about-wrap .wp-badge:hover {
	color: #FFF;
	transform: scale(1.2);
}

.bg-layer {
	content: '';
	background: #12AE8F;
	height: 80vh;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 0;
	box-shadow: 0 0 200px rgba(0,0,0,.5);
}

.bg-layer-1 {
	top: 65vh;
	transform: skew(0, 3deg);
}

.bg-layer-2 {
	top: 215vh;
	transform: skew(0, -3deg);
}

.bg-layer-3 {
	top: 365vh;
	transform: skew(0, 3deg);
}

.bg-layer-4 {
	top: 515vh;
	transform: skew(0, -3deg);
}

.bg-layer-5 {
	top: 65vh;
	transform: skew(0, 6deg);
	background: rgba(18, 174, 143,.5);
	box-shadow: none;
}

.bg-layer-6 {
	top: 215vh;
	transform: skew(0, -6deg);
	background: rgba(18, 174, 143,.5);
	box-shadow: none;
}

.bg-layer-7 {
	top: 365vh;
	transform: skew(0, 6deg);
	background: rgba(18, 174, 143,.5);
	box-shadow: none;
}

.bg-layer-8 {
	top: 515vh;
	transform: skew(0, -6deg);
	background: rgba(18, 174, 143,.5);
	box-shadow: none;
}

.intro-text {padding: 5rem 0 0; background: #12AE8F;}
.hero-image {padding: 5rem 0; background: #12AE8F;}
.hero-image img {max-width: 1000px;}

.changelog {
	max-width: 800px;
	margin: auto;
}

.changelog table {width: 100%; text-align: left; border-collapse: collapse;}
.changelog table tr {
	border-bottom: 1px solid rgba(255,255,255,.1);
	transition: all .2s;
}
.changelog table tr:hover {
	background: rgba(255,255,255,.1);
}
.changelog table tr td {
	padding: .5rem 1rem;
}
.changelog table tr td:first-child {
	text-align: right;
}

 .changelog-entry-improved,
 .changelog-entry-added,
 .changelog-entry-fixed,
 .changelog-entry-updated {
	 width: 80px;
	 display: inline-block;
	 color: #FFF;
	 text-align: center; 
	 font-size: .8rem;
	 padding: 3px;
	 border-radius: 3px;
	 text-transform: uppercase;
	 background: #333;  
 }

 .changelog-entry-improved {color: rgb(0,204,102);}
 .changelog-entry-added {color: rgb(255,204,102);}
 .changelog-entry-fixed {color: rgb(255,51,51);}
 .changelog-entry-updated {color: rgb(102,204,255);}